.triangle{
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 87 px solid red;
    margin: 50px auto;
    position: relative;
}
button{
    display: block;
    margin: 20px auto;
}
body{
    background-color: brown;
    background-image: url('bacgroud.jpeg');
    
}